{
    "cg_mesh": {
        "name": "cg_mesh",
        "type": "tools"
    },
    "cg_core": {
        "name": "cg_core",
        "type": "tools"
    },
    "cg_preferences": {
        "name": "cg_preferences",
        "type": "tools"
    },
    "cg_pyside": {
        "name": "cg_pyside",
        "type": "tools"
    },
    "cg_skin": {
        "name": "cg_skin",
        "type": "tools"
    },
    "cg_utilities": {
        "name": "cg_utilities",
        "type": "tools"
    },
    "cg_curve": {
        "name": "cg_curve",
        "type": "tools"
    },
    "cg_system": {
        "name": "cg_system",
        "type": "tools"
    }
}