{
    "cgrig_artist_palette": {
        "name": "cgrig_artist_palette",
        "type": "cgrigtools",
        "version": "1.2.31"
    },
    "cgrig_core": {
        "name": "cgrig_core",
        "type": "cgrigtools",
        "version": "2.3.61"
    },
    "cgrig_preferences": {
        "name": "cgrig_preferences",
        "type": "cgrigtools",
        "version": "1.1.24"
    },
    "cgrig_pyside": {
        "name": "cgrig_pyside",
        "type": "cgrigtools",
        "version": "2.1.52"
    },
    "cgrig_toolsets": {
        "name": "cgrig_toolsets",
        "type": "cgrigtools",
        "version": "1.3.34"
    },
    "cgrig_dev_utilities": {
        "name": "cgrig_dev_utilities",
        "type": "cgrigtools",
        "version": "1.0.7"
    },
    "cgrig_chatgpt": {
        "name": "cgrig_chatgpt",
        "type": "cgrigtools",
        "version": "1.0.12"
    }
}